/* Chrome, Safari, Edge, Opera */
.btn-input-pagination::-webkit-outer-spin-button,
.btn-input-pagination::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.btn-input-pagination[type=number] {
    -moz-appearance: textfield;
    appearance:textfield;
}